*{font-size:12px; font-family:Tahoma,Verdana,微软雅黑,新宋体}
body{background:#D2E0F2; }
a{ color:Black; text-decoration:none;}
a:hover{ color:Red; text-decoration:underline;}
.textbox03 {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;  font-weight: bold; width: 190px; }

.txt01{font:Verdana, Geneva, sans-serif,宋体;padding:3px 2px 2px 2px; border-width:1px; border-color:#ddd;  color:#000;}
.txt {border: #878787 1px solid;padding: 4px 3px;font:Verdana, Geneva, sans-serif,宋体;line-height: 14px; background-color: #fff;  height: auto; font-size: 14px;}
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}

.head a{color:White;text-decoration:underline;}

.navlist{list-style-type:none;margin:0px; padding:10px;}
.navlist li{ padding:0px;}
.navlist li a{line-height:24px;}
.navlist li div{margin:2px 0px;padding-left:10px;padding-top:2px; border:1px dashed #ffffff;}
.navlist li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.navlist li div.hover a{color:#416AA3;}
.navlist li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.navlist li div.selected a{color:#416AA3; font-weight:bold;}


.third_ul{ list-style-type:none;margin:0px; padding:0px; display:none;}
.third_ul li{ padding-left:20px;}

.icon{ background:url(../images/tabicons.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.menu-icon-sys{ background-position:0px -200px;}
.menu-icon-set{ background-position:-380px -200px;}
.menu-icon-add{background-position: -20px 0px;}

.menu-icon-nav{background-position: -100px -20px; }
.menu-icon-users{background-position: -100px -480px;}
.menu-icon-role{background-position: -360px -200px;}
.menu-icon-set{background-position: -380px -200px;}
.menu-icon-log{background-position: -380px -80px;}

.menu-icon-delete{ background-position:-140px -120px;}
.menu-icon-edit{ background-position:-380px -320px;}
.menu-icon-magic{ background-position:0px -500px;}
.menu-icon-database{ background-position:-20px -140px;}


.menu-icon-arrow{ background:url('../images/arrow.gif') no-repeat right;}

.layout{overflow-y: hidden}
.loading-tips{position:absolute; z-index:100000; height:2046px;top:0px;left:0px; width:100%; background:white; text-align:center;}
.loading-mask{position:absolute;top:0px; left:0px; width:100%; height:100%; background:#D2E0F2; z-index:20000}
.loading-page{position:absolute; top:50%; left:50%; margin:-120px 0px 0px -120px; text-align:center;  border:2px solid #8DB2E3; width:200px; height:40px;  font-size:14px;padding:10px; font-weight:bold; background:#fff; color:#15428B;}

.layout-north{overflow: hidden; height: 30px; background: url(images/layout-browser-hd-bg.gif) #7f99be repeat-x center 50%;line-height: 20px;color: #fff; font-family: Verdana, 微软雅黑,黑体}
.north-title{padding-left:10px; font-size: 16px;}

.column-0{width:0px;}
.column-80{width:80px;}
.column-100{width:100px;}
.column-150{width:150px;}

.form-submit1{text-align:center;padding:5px}